<div class="tooltip" [ngStyle]="tooltipStyle">
    <p>{{cellType}}</p>
    <p *ngFor="let pheromone of pheromoneInfo">{{pheromone}}</p>
</div>

<div class="simulation">
    <canvas #simulationCanvas (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()"></canvas>
    <form class="settings-form">
        <mat-card>
            <mat-card-header>Simulation Controls</mat-card-header>
            <mat-card-actions>
                <div class="buttons-row">
                    <button mat-raised-button color="accent" (click)="startSimulation()">Start</button>
                    <button mat-raised-button color="accent" (click)="stopSimulation()">Pause</button>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>View Mode</mat-label>
                    <mat-select [(value)]="viewMode">
                      <mat-option *ngFor="let mode of viewModes()" [value]="mode">{{ mode }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="buttons-row">
                    <button mat-raised-button color="primary" (click)="toggleSearchingAnts($event)">Hide Searching Ants</button>
                    <button mat-raised-button color="primary" (click)="toggleFoodCarryingAnts($event)">Hide Food-Carrying Ants</button>
                    <button mat-raised-button color="primary" (click)="togglePredators($event)">Hide Predators</button>
                </div>
                <div class="buttons-row">
                    <button mat-raised-button color="accent" (click)="toggleSearchPheromone($event)">Hide Search Pheromone</button>
                    <button mat-raised-button color="accent" (click)="toggleReturnPheromone($event)">Hide Return Pheromone</button>
                    <button mat-raised-button color="accent" (click)="toggleDistressPheromone($event)">Hide Distress Pheromone</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
<div class="controls">
    <form class="settings-form">
        <mat-card>
            <mat-card-header>Cell Controlls</mat-card-header>
            <mat-card-actions>
                <mat-form-field appearance="fill">
                    <mat-label>Brush Size</mat-label>
                    <input matInput [(ngModel)]="brushSize" name="brushSize">
                    <mat-slider min="1" max="5" step="1" [(ngModel)]="brushSize" name="brushSize"></mat-slider>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Draw Cell Type (left click to draw cells)</mat-label>
                    <mat-select [(value)]="selectedCellType">
                        <mat-option [value]="cellType" *ngFor="let cellType of cellTypes">{{cellType}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Paint Pheromone Type (shift + left click to paint pheromones)</mat-label>
                    <mat-select [(value)]="selectedPheromoneType">
                        <mat-option [value]="pheromoneType" *ngFor="let pheromoneType of pheromoneTypes">{{pheromoneType}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Pheromone Painting Strength</mat-label>
                    <input matInput [(ngModel)]="amountOfPheromoneToPaint" name="amountOfPheromoneToPaint">
                    <mat-slider min="0.001" max="1" step=".001" [(ngModel)]="amountOfPheromoneToPaint" name="amountOfPheromoneToPaint"></mat-slider>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Select Objects to Remove</mat-label>
                    <mat-select [formControl]="clearOptions" multiple>
                      <mat-option *ngFor="let clearSelection of clearOptionsList" [value]="clearSelection">{{clearSelection}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="warn" (click)="clearAllAnts()">Remove Selected Objects</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>Organism Controls</mat-card-header>
            <mat-card-actions>
                <mat-form-field appearance="fill">
                    <mat-label>Max Ants</mat-label>
                    <input matInput [(ngModel)]="maxAnts" name="maxAnts">
                    <mat-slider min="1" max="500" step="1" [(ngModel)]="maxAnts" name="maxAnts" (change)="onMaxAntsChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Max Predators</mat-label>
                    <input matInput [(ngModel)]="maxPredators" name="maxPredators">
                    <mat-slider min="1" max="100" step="1" [(ngModel)]="maxPredators" name="maxPredators" (change)="onMaxPredatorsChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ant Lifespan</mat-label>
                    <input matInput [(ngModel)]="antLifespan" name="antLifespan">
                    <mat-slider min="1" max="100" step="1" [(ngModel)]="antLifespan" name="antLifespan" (change)="onAntLifespanChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Predator Lifespan</mat-label>
                    <input matInput [(ngModel)]="predatorLifespan" name="predatorLifespan">
                    <mat-slider min="1" max="100" step="1" [(ngModel)]="predatorLifespan" name="predatorLifespan" (change)="onPredatorLifespanChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pheromone Evaporation Amount</mat-label>
                    <input matInput [(ngModel)]="pheromoneDecayRate" name="pheromoneDecayRate">
                    <mat-slider min="0.00001" max=".01" step="0.0005" [(ngModel)]="pheromoneDecayRate" name="pheromoneDecayRate" (change)="onPheromoneDecayChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pheromone Diffusion Rate (larger is slower)</mat-label>
                    <input matInput [(ngModel)]="pheromoneDiffusionRate" name="pheromoneDiffusionRate">
                    <mat-slider min="0.001" max="10" step="0.001" [(ngModel)]="pheromoneDiffusionRate" name="pheromoneDiffusionRate" (change)="onPheromoneDiffusionRateChange($event)"></mat-slider>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pheromone Diffusion Amount</mat-label>
                    <input matInput [(ngModel)]="pheromoneDiffusionAmount" name="pheromoneDiffusionAmount">
                    <mat-slider min="0.00001" max=".1" step="0.0005" [(ngModel)]="pheromoneDiffusionAmount" name="pheromoneDiffusionAmount" (change)="onPheromoneDiffusionAmountChange($event)"></mat-slider>
                </mat-form-field>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>Save and Load</mat-card-header>
            <mat-card-actions>
                <div class="file-controls">
                    <input type="file" (change)="loadGrid($event)" />
                    <button mat-raised-button color="warn" (click)="saveGrid()">Save Grid</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
